In [1]:
#importamos las librerias que necesitamos
import pandas as pd
import datetime
import numpy as np
import matplotlib as plt
import matplotlib
from datetime import datetime
import matplotlib.pyplot as plt

El archivo adjunto consolida un histórico de venta desde Enero 2020 a Febrero de 2022. El histórico detalla el año-mes cuando se realizó la venta, así como el código del material con las cantidades en kilos y en dinero vendidas. Como científico de datos se requiere que completes las siguientes tareas:

1. Generar un dataset que agrupe por item y mes, desde Enero 2020 a Enero 2022, la cantidad total de ventas en kilos.

2. Generar un dataset con el máximo, mínimo y promedio de venta en dinero por cada item desde Enero 2021 a Diciembre 2021.

3. Generar un pronóstico de ventas en kilos por cada item para el mes en curso: Febrero 2022. El modelo o técnica de pronóstico es de libre elección, puede ser tan simple o avanzado como se prefiera.

DESARROLLO:

  Para dar solucion primero cargamos al archivo a el entorno "Google colabority" lo leemos y convertimos a un DataFrame utilizando la librery Pandas

In [2]:
#cargamos el archivo xlsx este archivo debe subirse a la carpeta de archivos del colabority o 
#estar en la misma carpeta del archivo .ipynb
Archivo = "ventas_nuevas.xlsx"
Datosventas= pd.read_excel(Archivo) #lee el archivo xlsx  y se crea un dataframe crea un tabla
Datosventas

       Unnamed: 0 Unnamed: 1       Unnamed: 2        Unnamed: 3     Unnamed: 4
0             NaN        NaN              NaN               NaN            NaN
1             NaN        NaN              NaN               NaN            NaN
2             NaN        Mes  Código Material  Venta Neta Kilos  Venta Neta ME
3             NaN    2020.01          1003831                10         232176
4             NaN    2020.01          1003856                 0              0
...           ...        ...              ...               ...            ...
23068         NaN    2022.02          1049872                49        1273350
23069         NaN    2022.02          1054630                85        2122089
23070         NaN    2022.02          2018223                 5          42700
23071         NaN    2022.02          2018224               7.5          68250
23072         NaN    2022.02          2018233               0.5          10375

[23073 rows x 5 columns]

Analizando un poco el DataFrame "Datosventas" encontramos que debemos hacer un proceso de depuracion.

In [3]:
print(Datosventas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23073 entries, 0 to 23072
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   Unnamed: 1  23071 non-null  object
 2   Unnamed: 2  23071 non-null  object
 3   Unnamed: 3  23071 non-null  object
 4   Unnamed: 4  23071 non-null  object
dtypes: float64(1), object(4)
memory usage: 901.4+ KB
None

In [4]:
#Elimimanos la columna numero uno del dataframe
del Datosventas['Unnamed: 0']

In [5]:
#Eliminamos las dos primeras filas del dataframe
Datosventas=Datosventas.drop([0,1],axis=0)
Datosventas=Datosventas.drop([2],axis=0)

In [6]:
#renombramos la Columnas que nos quedan
Datosventas=Datosventas.rename(columns={'Unnamed: 1': 'Mes', 'Unnamed: 2': 'Código_Material', 'Unnamed: 3':'Venta_Neta_Kilos','Unnamed: 4':'Venta_Neta_ME'})

In [7]:
#cambiamos el typo de datos de las colunas Venta_Neta_Kilos y Venta_Neta_ME ya que estan en objets
# y las necesitamos en int. Tambien comvertimos los valores de esas columnas en valor absoluto ya
# que las ventas deben ser positivas o cero
Datosventas2=Datosventas['Venta_Neta_Kilos'].astype(float).apply(abs).reset_index(name ='Venta_Neta_Kilos')
Datosventas3=Datosventas['Venta_Neta_ME'].astype(float).apply(abs).reset_index(name ='Venta_Neta_ME')
Datosventas2.set_index('index', inplace = True)
Datosventas3.set_index('index', inplace = True)
Datosventas3['Venta_Neta_ME'].apply(abs)
Datosventas.drop(['Venta_Neta_Kilos'], axis=1)
Datosventas=Datosventas.drop(['Venta_Neta_ME'], axis=1)
Datosventas['Venta_Neta_Kilos']=Datosventas2['Venta_Neta_Kilos']
Datosventas['Venta_Neta_ME']=Datosventas3['Venta_Neta_ME']
#se imprime un rango de filas para la verificacion de que ninguna venta sea negativa
Datosventas[3728:3735]

          Mes Código_Material  Venta_Neta_Kilos  Venta_Neta_ME
3731  2021.01         1003916               8.0        65000.0
3732  2021.01         1004146              15.0        94500.0
3733  2021.01         1041788              10.0       112500.0
3734  2021.01         1003831               0.0            0.0
3735  2021.01         1003856             500.0      5611000.0
3736  2021.01         1003861               0.0            0.0
3737  2021.01         1003863             780.0      9767244.0

In [8]:
print(Datosventas.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23070 entries, 3 to 23072
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Mes               23070 non-null  object
 1   Código_Material   23070 non-null  object
 2   Venta_Neta_Kilos  23070 non-null  float64
 3   Venta_Neta_ME     23070 non-null  float64
dtypes: float64(2), object(2)
memory usage: 901.2+ KB
None

Sea crea un dataframe llamada "Datosventas_1" sel contiene, un dataset agrupado por mes y codigo de material junto con la suma de los kilos del material y el dinero obtenido.

1. Generar un dataset que agrupe por item y mes, desde Enero 2020 a Enero 2022, la cantidad total de ventas en kilos.

In [16]:
Datosventas_Kilos = Datosventas.groupby(['Mes','Código_Material']).Venta_Neta_Kilos.sum().reset_index(name ='Venta_Neta_Kilos')
Datosventas_Kilos

          Mes Código_Material  Venta_Neta_Kilos
0     2020.01         1003831             960.0
1     2020.01         1003856            1705.0
2     2020.01         1003861            5510.0
3     2020.01         1003863            2900.0
4     2020.01         1003865           10790.0
...       ...             ...               ...
2706  2022.02         3002507            7500.0
2707  2022.02         3014380            2400.0
2708  2022.02         3017624            3100.0
2709  2022.02         3019452           86088.0
2710  2022.02         3024585            7600.0

[2711 rows x 3 columns]

In [17]:
#agragamos 1 columnas al archivo xlsx "Fecha" sale de la columna "Mes"
Datosventas['Fecha'] = pd.to_datetime(Datosventas['Mes'], errors='coerce')
#pones a la columna fecha como indice
Datosventas.set_index('Fecha', inplace = True)
Datosventas

                Mes Código_Material  Venta_Neta_Kilos  Venta_Neta_ME
Fecha
2020-01-01  2020.01         1003831              10.0       232176.0
2020-01-01  2020.01         1003856               0.0            0.0
2020-01-01  2020.01         1003863             200.0      2237760.0
2020-01-01  2020.01         1003866              60.0       684444.0
2020-01-01  2020.01         1003872              25.0       343092.0
...             ...             ...               ...            ...
2022-02-01  2022.02         1049872              49.0      1273350.0
2022-02-01  2022.02         1054630              85.0      2122089.0
2022-02-01  2022.02         2018223               5.0        42700.0
2022-02-01  2022.02         2018224               7.5        68250.0
2022-02-01  2022.02         2018233               0.5        10375.0

[23070 rows x 4 columns]

2. Generar un dataset con el máximo, mínimo y promedio de venta en dinero por cada item desde Enero 2021 a Diciembre 2021.

In [11]:
#Extraer del dataframe las filas que tengan como indice el 2021-01 a 2021-12
#estrae los datos de 2021 de enero a diciembre
Datosventas2021 = Datosventas['2021-01':'2021-12'].iloc[:,0:4]
#generamos 3 dataframe agrupados por mes y codigo del materia y a las ventas se les calcula el min max y mean
Datosventas_min =Datosventas2021.groupby(['Código_Material']).Venta_Neta_ME.min().reset_index(name ='Venta_Neta_ME_Min')
Datosventas_max =Datosventas2021.groupby(['Código_Material']).Venta_Neta_ME.max().reset_index(name ='Venta_Neta_ME_Max')
Datosventas_mean =Datosventas2021.groupby(['Código_Material']).Venta_Neta_ME.mean().reset_index(name ='Venta_Neta_ME_Promedio')
Datosventas_min

    Código_Material  Venta_Neta_ME_Min
0           1003831                0.0
1           1003856                0.0
2           1003861                0.0
3           1003863            66016.0
4           1003865                0.0
..              ...                ...
143         3024585          8813600.0
144         3025771          1830000.0
145         3025845          5724000.0
146         3025931                0.0
147         3025936                0.0

[148 rows x 2 columns]

El dataset Datosventas_min_max nos indicara cual fue la venta minima, la maxima y el promedio, de ventas en el año, por item

In [ ]:
#creamos otra data frame donde hacemos un join para unir los data frame de min y max llamado Datosventas_min_max
Datosventas_min_max=pd.merge(Datosventas_min , Datosventas_max,on=['Código_Material'], how='inner')
#se genera otro dataframe en donde a Datosventas_min_max se le añade el daataframe en donde se calculo el promedio
Datosventas_min_max_mean=pd.merge(Datosventas_min_max , Datosventas_mean,on=['Código_Material'], how='inner')
Datosventas_min_max_mean

,Código_Material,Venta_Neta_ME_Min,Venta_Neta_ME_Max,Venta_Neta_ME_Promedio
0,1003831,0.0,8982669.0,1.215400e+06
1,1003856,0.0,6284320.0,6.399840e+05
2,1003861,0.0,22297684.0,5.177347e+06
3,1003863,66016.0,15985936.0,3.519141e+06
4,1003865,0.0,27709233.0,9.880328e+06
...,...,...,...,...
143,3024585,8813600.0,121091200.0,5.602088e+07
144,3025771,1830000.0,18300000.0,5.673000e+06
145,3025845,5724000.0,5724000.0,5.724000e+06
146,3025931,0.0,23002848.0,7.779552e+06
147,3025936,0.0,5328000.0,1.864800e+06

Guardamos los DataFrame de los literales 1 y 2

In [ ]:
Datosventas_Kilos.to_excel('Datosventas_Kilos.xlsx',index=False)
Datosventas_min_max_mean.to_excel('Datosventas_min_max_mean.xlsx',index=False)

In [ ]:
Datosventas.to_excel('Datosventas.xlsx',index=False)

In [ ]:
Datosventas_1 = Datosventas.groupby(['Mes','Código_Material']).Venta_Neta_ME.sum().reset_index(name ='Venta_Neta_ME')
Datosventas_1=pd.merge(Datosventas_Kilos , Datosventas_1,on=['Mes','Código_Material'], how='inner')
Datosventas_1

          Mes Código_Material  Venta_Neta_Kilos  Venta_Neta_ME
0     2020.01         1003831             960.0     21627777.0
1     2020.01         1003856            1705.0     21018304.0
2     2020.01         1003861            5510.0     55756328.0
3     2020.01         1003863            2900.0     36490870.0
4     2020.01         1003865           10790.0    119309535.0
...       ...             ...               ...            ...
2706  2022.02         3002507            7500.0     75990000.0
2707  2022.02         3014380            2400.0     32583600.0
2708  2022.02         3017624            3100.0     33031500.0
2709  2022.02         3019452           86088.0    585439020.0
2710  2022.02         3024585            7600.0     72808000.0

[2711 rows x 4 columns]

In [ ]:
Datosventas_1.to_excel('Datosventas_1.xlsx',index=False)

3. Generar un pronóstico de ventas en kilos por cada item para el mes en curso: Febrero 2022. El modelo o técnica de pronóstico es de libre elección, puede ser tan simple o avanzado como se prefiera.

El modelo esta en:

DataUp_modelo_lineal_Multiplescodigos.ipynb